--patternlet inline
--trimwhitespace nonblank-lines
--ifdef no-indent

--disable spaceInsideBrackets
--disable yodaConditions
--disable numberFormatting
--disable redundantReturn

--enable isEmpty
--enable sortSwitchCases
--enable wrapEnumCases
--enable wrapSwitchCases
--enable wrapConditionalBodies
--enable blankLinesBetweenImports
--enable blankLineAfterSwitchCase
--enable blankLinesBetweenImports
--enable blockComments
--enable emptyExtensions
--enable preferSwiftTesting
--enable singlePropertyPerLine
--enable redundantMemberwiseInit
--enable redundantAsync
--enable redundantEquatable
--enable redundantProperty
--enable redundantThrows

--header ""