/* Site Styles */
body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; !important;
  font-weight: 400;
}

.child-img {
  height: 90%;
  position: absolute;
  top: 4em;
  left: 50%;
  margin: -25px 0 0 -95px;
  z-index: -1;
}

.row {
    padding-top: 40px;
}

.col-lg-10 {
    padding-right: 40px;
    padding-left: 40px;
}

th, td {
  text-align: left;
}

/* Sponsors */

.sponsors-table {
    border-collapse: unset;
    vertical-align: middle;
    text-align
}

.sponsor-img {
    max-width: 100%;
    height: auto;
}

/* Order Tickets */

.order-tickets {
    height: 74%;
    position: absolute;
    top: 4em;
    left: 58%;
    margin: 840px 0 0 -340px;
    z-index: -1;
}

.tito-iframe {
    width: auto !important;
}

/* What We Are About Section */

.what-about-icon {
  margin-left: -20%;
  height: 80%;
  width: 85%;
}

/* Previous Conference Section */

.previous-conference-image {
  object-fit: cover;
  width: 190px;
  height: 265px;
}

.previous-conference-icon {
  margin-left: -40%;
  height: 50%;
  width: 75%;
}

.previous-conference-image-half {
  object-fit: cover;
  width: 50%;
}

.conference-image-top-offset {
  margin-top: 50px;
}

.conference-image-bottom-offset {
  margin-top: -20px;
}

.bordered {
  border: 1px solid #000000;
}

@media only screen and (max-width: 989px) {
    .previous-conference-image,
    .pc-image-md {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0 !important;
    }

    .order-tickets,
    .what-about-icon,
    .previous-conference-icon,
    .pc-icon-md {
        display: none;
    }

    .ci-md {
        margin: 0 0 0 0 !important;
    }
}

strong {
  font-weight: bold;
}

h1 {
  line-height: 1.2em;
  margin-top: 0.5em;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-weight: 200 !important;
}

h2 {
  font-size: 2em;
  line-height: 100%;
  text-transform: uppercase;
}

p.bold {
    font-weight: bold;
}

ul li {
  list-style-type: none;
}

a {
  color: #ED2207;
}

.nav-arrow {
  float: right;
  text-decoration: none;
}

.logo {
  width: 10em;
  float: left;
}

/* Header */
.separator {
  width: 0;
  height: 40px;
  border: 0.5px solid #000000;
  margin:  0 1em;
  display: block;
  float: left;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: rgba(255, 126, 7, 1);
  border-color: rgba(255, 126, 7, 1);
}

.btn-outline-success {
  color: rgba(255, 126, 7, 1);
  border-color: rgba(255, 126, 7, 1);
}

.event-date {
  float: left;
  line-height:  120%;
  text-transform: uppercase;
}

/* Footer */
footer a {
  color: #000;
  text-decoration: none;
}

/* Top Navigation */
.top-nav {
  background-color: rgba(255, 255, 255, 0.6);
  border-top:  1px #000 solid;
  box-shadow: 0px 4px 21px rgba(255, 126, 7, 0.5);
  float: right;
  font-size:  16px;
  padding: 0.5em 2em;
}

.navbar-expand-lg {
    padding-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
}

ul.top-nav li {
  float: left;
  font-weight: 500;
  list-style-type: none;
  padding: 0 1em;
  text-transform: uppercase;
}

ul.top-nav li a {
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
}

.top-nav img {
    margin-top: 10px;
}

/* Coming Soon Page */
.container img {
  margin-left: auto;
  margin-right: auto;
}

/* Home page */
.row h2 {
  padding-left: 0;
}

ul.tickets {
  padding-left: 40;
}

ul.tickets li {
  background: #000;
  color: #fff;
  float: left;
  font-weight: bold;
  list-style-type: none;
  padding: 1em 1em;
  position: relative;
  text-transform: uppercase;
}

ul.tickets li.inPerson {
  background: #ED2207;
}

ul.tickets li.remote {
  background: #BC1802;
}

ul.tickets li a {
  color: #fff;
}

.get-in-touch {
  float: right;
  line-height: 1.2em;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.tag {
  background: #000;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
  font-size: 0.7em;
}
